/* * {
  background-color: #FFF3DA;
} */
body {
  background-image: url(assets/img/pexels-leah-kelley-3935702.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 1px solid;
}

h1, p, div {
  color: #4b00a6;
}

@media (min-width: 950px) {
 .fa-bars{
  display: contents;
 }
 .hidden--mobile {
   display: none;
 }
}

@media (min-width: 550px) {
  img {
    background-image: url(assets/img/pexels-leah-kelley-3935702.jpg);
    background-size: cover;

  }
  nav>.fa-bars {
    display: none;
  }
    .hidden--mobile {
      display: none;
    }
}
header > ul {
  display: inline-block;
}

.introDesc {
  text-align: center;
}
.headerImg {
  text-align: center;
}
.headerPhoto {
  width: 450px;
  height: 300px;
  border-radius: 10px;
}
.header {
  text-align: center;
}

.heroImg {
  width: 300px;
  height: 200px;
}

.trackingList {
  border: 5px solid black;
  margin: 25px;
  display: inline-block;
}
.mapQuest {
  border: 5px solid black;
  margin: 25px;
  display: inline-block;
}
.twoColumns {
  width: 100%;
  text-align: center;
}

.myImage {
  width: 200px;
  height: 200px;
}
